body {
    width: 780px;
    height: 600px;
    margin: 0; padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

::-webkit-scrollbar {
    background-color: rgb(19, 17, 17);
}

.code-section {
    background-color: black;
    height: 100%;
    display: inline-block;
    border: none;
    width: 60%;
    margin: 0; padding: 0;
    position: absolute;
    left: 0; top: 0;
}

.code-section textarea{
    background-color: rgb(19, 17, 17);
    width: 95%;
    margin-top: 70px;
    margin-left: 10px; margin-right: 10px;
    border: none;
    /* color: rgb(45, 45, 45); */
    color: rgb(20, 188, 20);
    height: 80%;
    padding: 10px;
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
}

.code-section textarea::placeholder {
    color: rgb(45, 45, 45);
    font-style: italic;
}

.document-section {
    background-color: rgb(19, 17, 17);
    height: 100%;
    /* border: .8px solid white;
    border-top: none;
    border-right: none;
    border-bottom: none; */
    width: 40%;
    margin: 0; padding: 0;
    display: inline-block;
    position: absolute;
    right: 0; top: 0;
}

.header {
    position: absolute;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.header p {
    display: inline;
    color: white;
    font-size: .7rem;
    position: absolute;
    left: 40px; top: 8px;
}

.icon-head {
    width: 35px;
    position: absolute;
    top: 8px; 
}

.downpdf {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    margin: 15px; margin-top: 8px;
    border: 3px solid rgb(20, 188, 20);
    font-size: .7rem;
    cursor: pointer;
    border-radius: 20px;
    padding: 7px;
    /* background-color: rgb(36, 35, 35); */
    background-color: rgb(20, 188, 20);
    color: white;
    transition: .2s;
}

.downpdf:hover {
    /* background-color: rgb(20, 188, 20); */
    background-color: rgb(36, 35, 35)
}

.runBTN {
    width: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    float: right;
    margin: 7px; margin-right: 20px;
    border-radius: 50px;
    cursor: pointer;
    /* background-color: rgb(36, 35, 35); */
    background-color: rgb(20, 188, 20);
    transition: .2s;
    border: 3px solid rgb(20, 188, 20);
}
.runBTN:hover {
    /* background-color: rgb(20, 188, 20); */
    background-color: rgb(36, 35, 35);
}

span {
    font-size: .5rem;
    color: grey;
}

.document-section textarea {
    background-color: black;
    width: 92%;
    margin-top: 15px;
    margin-left: 10px; margin-right: 10px;
    border: none;
    color: white;
    height: 93%;
    font-size: .7rem;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
}

.document-section textarea::placeholder {
    color: rgb(45, 45, 45);
    font-style: italic;
}

.document-section textarea::-webkit-scrollbar{
    background-color: transparent;
}

.document-section textarea::-webkit-scrollbar-button{
    background-color: white
}